@media screen and (max-width: 420px) {
    h2{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    button{
        font-size: 1.5rem;
    }
    blockquote{
        font-size: 1.5rem;
    }
}